[submodule "subsampling-scale-image-view"]
	path = lib/subsampling-scale-image-view
	url = https://github.com/cryptomator/subsampling-scale-image-view.git
[submodule "pcloud-sdk-java"]
	path = lib/pcloud-sdk-java
	url = https://github.com/cryptomator/pcloud-sdk-java.git
