[submodule "msa-auth-for-android"]
	path = msa-auth-for-android
	url = https://github.com/SailReal/msa-auth-for-android.git
[submodule "subsampling-scale-image-view"]
	path = subsampling-scale-image-view
	url = https://github.com/SailReal/subsampling-scale-image-view.git
[submodule "pcloud-sdk-java"]
	path = pcloud-sdk-java
	url = https://github.com/SailReal/pcloud-sdk-java
[submodule "aws-sdk-android"]
	path = aws-sdk-android
	url = https://github.com/SailReal/aws-sdk-android.git
