<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.cryptomator.presentation">

	<!-- Required to send intent to F-Droid app -->
	<queries>
		<package android:name="org.fdroid.fdroid" />
	</queries>

	<!-- Required to self update Cryptomator in the F-Droid main variant -->
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

</manifest>
